<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-success bg-light">
      <!-- <style type="text/css">
      .navbar {
      width: 100%;
      position: fixed;
      color: black;
      
      z-index: 2;
    }
  </style> -->
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Broball</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profiles">Profile</a>
              </li>
              <li>
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li>
                <a class="nav-link" href="/startball">Lets Start</a>
              </li>
           
            </ul>
            <!--<form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit" routerLink="/startball">Lets Start</button>
            </form>-->
            <form class="d-flex">
             
                    <img class="yuvarlak" src="assets/images/shiba.jpg" alt="" style="margin-right: 20px;">
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" style="margin-top:5px;" data-bs-toggle="dropdown" aria-expanded="false">
                        Tolga Budanoğlu
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/profiles">Profil</a></li>
                        <li><a class="dropdown-item" href="/startball">Hadi Maça</a></li>
                        <li><a class="dropdown-item" href="/sss">sık sorulan sorular</a></li>
                        <li><a class="dropdown-item" href="/sss">Bize Sorun</a></li>
                        <li><a class="dropdown-item" href="/login">Çıkış yap</a></li>
                      </ul>
                    </div>                 
                
              
            </form>
          </div>
        </div>
      </nav>



</body>
</html>