<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="login.component.css">
</head>
<body>  
  <div class="col">
  <div class="row md-6 col-md-9" style="margin-left:165px">

    <img src="assets/images/broball.jpg" style="width:100%;height:452px;margin-bottom: px;"
    alt="Windows Firewall" id="logo">
    </div>
    <div class="row md-6">
  <form action="#" class="login-form" style="margin-left: 413px; background-color:black;">
    
    <h1>Giriş Yap </h1>
    <div class="textb">
      <input type="text" required id="inputEmail4" placeholder="...@gmail.com">
      
    </div>

    <div class="textb">
      <input type="password" required id="password" placeholder="****">
      
      <div class="show-password fas fa-eye-slash"></div>
    </div>

    <div class="checkbox">
      <input type="checkbox">
      <div class="fas fa-check"></div>
      Beni Hatırla
    </div>

    <button class="btn fas fa-arrow-right"type="submit" routerLink="/register" ></button>

    <a href="/register">Hesap Oluştur</a>
  </form>
  </div>
</div>

 
</body>
</html>